%inner-hide-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}
@mixin ellipsis($selector: null) {
  @if & {
    @extend %inner-hide-text;
    @content;
  } @else if $selector {
    #{$selector} {
      @extend %inner-hide-text;
      @content;
    }
  }
}
