%inner-clear {
  display: block;
  clear: both;
  content: '';
  font-size: 0;
}

@mixin clear-fix($selector: null) {
  @if & {
    @extend %inner-clear;
  } @else if $selector {
    #{$selector} {
      @extend %inner-clear;
    }
  }
}
