%inner-button {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
@mixin basic-button($selector: null) {
  @if & {
    @extend %inner-button;
    @content;
  } @else if $selector {
    #{$selector} {
      @extend %inner-button;
      @content;
    }
  }
}
